* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

section{
    padding: 5%;
}

.max-width{
    max-width: 1000px;
}

.expandButton span {
    transition: all 3s;
  }
  
.expandButton.active span{
    transform: rotate(45deg);
  }